:root {
  --green: #57b288;
  --dark-blue: #020a3d;

  --red: #941b0c;
  --gold: #fcc127;
  --lightgold: #fbd45d;
  --darkgold: #b88c07;
  --black: #030305;
  --darkgray: #28282a;
  --ash: #86858a;
  --whiteash: #ceced0;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  font-family: "Ibarra Real Nova", "Gentium Plus";
}

body {
  /* display: flex;
  min-width:0%; */
  background-color: var(--black);
  background-image: url(./assets/images/grunge-texture-1920x1080.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  /* font-family: sans-serif; */
}

p {
  color: var(--gold);
}

.mainPage {
  display: inline-block;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;
  transform: rotate(90deg);
  left: 0;
  /* bottom: 0; */
  justify-content: center;
}

h1 {
  font-size: 4vw;
  font-family: "Seaweed Script", cursive;
  font-weight: 300;
  display: inline-block;
  padding-left: 2vw;
  padding-right: 5vw;
  border-top-right-radius: 10px 20%;
  border-bottom-right-radius: 10px 20%;
  color: var(--gold);
}

a {
  text-decoration: none;
}

h1 a:visited {
  color: var(--gold);
}

.logo {
  color: var(--gold);
  font-family: "Seaweed Script", cursive;
}

.menu {
  margin-left: auto;
  padding-top: 1.5%;
  padding-right: 2%;
}

/* Creates a gap between the header nav topics. */
header nav a {
  margin: 0 10px 0 0;
}

h3 {
  font-size: 100%;
}

section section {
  font-size: 100%;
}

article,
aside {
  display: inline-block;
}

.projects {
  flex-wrap: wrap;
  flex: none;
}

.contacts-spacing {
  display: flex;
  margin: 0 3vw;
  color: var(--ash);
  font-size: 1.25vw;
}

.contact-me-nav {
  display: flex;
  /* padding: 1% 20vw 1% 5vw; */
  /* flex-basis: 50%; */
  margin: 80px 2% 100px 2%;
  /* justify-content: space-evenly; */
}

.menuBarText {
  color: var(--gold);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 2px 4px;
  border-radius: 5px;
}

.menuBarText:hover {
  color: var(--darkgold);
}

.title {
  display: flex;
  flex-basis: 25%;
  justify-content: right;
  font-weight: normal;
  /* align-items: center; */
  color: var(--gold);
  font-size: 2.5vw;
  padding-right: 15px;
  text-align: right;
  border-right: thick solid var(--darkgray);
}

.details {
  display: flex;
  flex-basis: 50%;
  justify-content: left;
  /* align-items: center; */
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-shrink: 2;
  margin: 0 0 0 2vw;
  justify-content: space-between;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 20px 1vw 0;
}

.mainImg {
  flex: 1 0 45%;
  width: 50vw;
  border: solid var(--ash) 2px;
  /* border:  solid var(--darkgold) 2px; */
}

img {
  width: 24vw;
  border: solid var(--black) 5px;
}

.caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-blue);
  color: var(--gold);
}

.mainCaption {
  margin: 4vw 4vw 4vw 0;
  padding: 0 1vw 0 4vw;
  font-size: 1.5vw;
}

.subCaption {
  margin: 3vw 2vw 3vw 0;
  padding: 0 1vw 0 2vw;
  font-size: 1.25vw;
}

.contacts {
  display: flex;
  flex-direction: row;
  padding: 0 0 80px 0;
  /* overwrites the div element css margins */
  margin: 0 0 0 0;
}

.profile {
  display: flex;
  width: 350px;
  border-radius: 185px;
  margin: 60px 0 0 0;
}

#projectLink {
  display: inline-block;
}

/* For the popup elements that appear after a contact form submission */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: var(--ash); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  color: var(--whiteash);
  background-color: var(--black);
  border: solid var(--gold) 3px;
  border-radius: 10px;
}

.closeBtn {
  color: var(--black);
  background-color: var(--gold);
  border: solid var(--darkgold) 2px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 15px 5px 15px;
  margin: 20px auto 10px auto;
}

.closeBtn:hover {
  background-color: var(--darkgold);
  border: solid var(--gold) 2px;
}

/* ------------------- Header ------------------- */
header {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin: 0 0 2vw 0;
  padding: 2% 0 1% 0;
  /* border-bottom: solid 10px;
    border-color: var(--darkgray); */
  /* box-shadow: 0 0 0 8px var(--darkgray); */
}

.highlight {
  background-color: var(--darkgold);
  color: var(--black);
}

.highlight:hover {
  color: var(--darkgray);
}

/* ------------------ Contacts ------------------ */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  width: 600px;
  text-align: center;
}

.formFields {
  color: var(--gold);
  background-color: var(--black);
  border: solid var(--darkgold) 2px;
  border-radius: 3px;
  opacity: 80%;
  font-size: 16px;
  padding: 18px;
  resize: none;
  margin: 0 0 20px 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--ash);
}

input:focus,
textarea:focus {
  border: solid var(--lightgold) 2px;
  border-radius: 3px;
  color: var(--lightgold);
  outline: var(--lightgold);
  box-shadow: 0 0 10px var(--lightgold);
}

.formDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formBtn {
  color: var(--black);
  background-color: var(--darkgold);
  border: solid var(--darkgold) 2px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  margin: 20px auto 10px auto;
  font-weight: 900;
}

.formBtn:hover {
  box-shadow: 0 0 10px var(--lightgold);
  border: solid var(--lightgold) 2px;
  background-color: var(--gold);
  cursor: pointer;
}

.formSection {
  width: 48.5%;
}

.errorTxt {
  font-size: 14px;
  color: var(--red);
  text-align: left;
  margin: -10px 0 10px;
}

.hide {
  display: none;
}

.error {
  border: solid var(--red) 2px;
}

.contactIcon {
  width: 60px;
  padding: 10px;
  background-color: var(--darkgold);
  border: none;
  border-radius: 15px;
}

.shrink {
  padding: 14px;
}

/* Because the svg dimensions differ, these two classes need to be adjusted concurently */
.contactIcon:hover {
  transform: translateY(-6px);
  box-shadow: 0px 0px 15px var(--lightgold);
  padding: 8px;
  border: solid 2px var(--lightgold);
  background-color: var(--gold);
}
.shrink:hover {
  padding: 12px;
}

/* --------------- About Me Page ---------------- */
.circle {
  shape-outside: circle(50%);
}

.aboutPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 50px 0;
}

.subtitle {
  font-weight: normal;
  color: var(--gold);
  font-size: 48px;
  /* border-bottom: solid var(--gold); */
  /* margin: 0 0 20px 0; */
}

.bio {
  flex-basis: 45%;
  margin: 0 2vw 0 0;
}

.role {
  color: var(--black);
  background: linear-gradient(45deg, var(--gold), transparent);
  font-size: 24px;
  padding: 2px 0 2px 5px;
  margin: 0 0 24px 0;
}

.prgTitle {
  color: var(--gold);
  font-size: 24px;
  margin: 24px 0 12px 0;
}

.introDiv {
  display: flex;
  flex-direction: row;
}

.intro {
  color: var(--whiteash);
  font-size: 20px;
}

.bodyText {
  color: var(--whiteash);
  font-size: 18px;
  margin: 0 0 10px 0;
  /* border-left: solid var(--darkgold) 3px;
  padding: 0 0 0 10px; */
}

.profileTag {
  color: var(--gold);
}

.bulletPoint {
  font-weight: bold;
}
.educationTitle {
  margin: 10px 0 12px 0;
}

.techStack {
  display: flex;
  flex-direction: row;
}

.techStackIcon {
  height: 50px;
  width: 60px;
  border: none;
  padding: 5px 0 5px 0;
  /* margin: 0 5px 0 0; */
}

/* .techStackIcon:hover {
  box-shadow: 0px 0px 15px var(--lightgold);
  background-color: #fbd45d50;
  transform: translateY(-6px);
} */

.techIconDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2px 2px 2px;
}

.techIconDiv:hover {
  box-shadow: 0px 0px 15px var(--lightgold);
  background-color: #fbd45d50;
  transform: translateY(-6px);
}

.techLabel {
  opacity: 0;
  color: var(--lightgold);
}

.techIconDiv:hover .techLabel {
  opacity: 1;
}

/* A border test located on portfolio */
.testTwo {
  width: 90vw;
  height: 90vh;
  margin: 0 auto 40px auto;
  opacity: 90%;
  border: solid var(--darkgold) 10px;
}

/* ----------------- Portfolio ------------------ */

.portfolioPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 50px 0;
}

.figureDiv {
  justify-content: center;
}

.vanish {
  opacity: 0;
}

.nextImage {
  position: absolute;
  border: none;
}

/* .fade-in {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
    transform: translateX(-20%);
  }
} */

.icon {
  border: none;
  width: 100px;
  margin: 0 20px;
}

.iconFadeRight {
  width: 80px;
  mask-image: linear-gradient(to left, transparent 30%, white 100%);
  /* This is for older browsers */
  -webkit-mask-image: linear-gradient(to left, transparent 30%, white 100%);
  z-index: -1;
  border: none;
}

.iconFadeLeft {
  width: 80px;
  mask-image: linear-gradient(to right, transparent 30%, white 100%);
  /* This is for older browsers */
  -webkit-mask-image: linear-gradient(to right, transparent 30%, white 100%);
  z-index: -1;
  border: none;
}

.descDiv {
  /* width: 600px; */
  flex-basis: 30%;
}

.iconDiv {
  display: flex;
  justify-content: right;
  margin: 0 13% 40px 0;
}

.secondIconDiv {
  display: none;
  height: 100px;
  /* justify-content: right; */
  /* margin: 0 13% 40px 0; */
}

.arrow {
  width: 40px;
  border: none;
}

.arrow:hover {
  cursor: pointer;
  /* width: 50px;  */
  /* margin: 0 0px 0 10px; */
}

/* .rightArrowBtn:has(.arrow:hover) {
  background-color: #57b288;
} */

.rightArrowBtn {
  border: none;
  background-color: transparent;
  margin: 0 0 0 -20px;
}

.leftArrowBtn {
  border: none;
  background-color: transparent;
  margin: 0 -20px 0 0;
  transform: rotate(180deg);
}

.lineBreak {
  margin: 0 0 20px 0;
}

.description {
  font-size: 20px;
}

/* .btnDisplay {
  justify-content: center;

} */

.portfolioBtns {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 900;
  background-color: var(--black);
  color: var(--darkgold);
  border: solid var(--gold) 3px;
  border-radius: 10px;
  margin: 0 10px 0 0;
}

.portfolioBtns:hover {
  background-color: var(--darkgold);
  color: var(--black);
  box-shadow: 0px 0px 15px var(--lightgold);
  cursor: pointer;
}

/* ------------------ Resume -------------------- */

.resumePage {
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  /* height: 100vh; */
}

.resume {
  /* background-color: #001d3d; */
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 60vw;
  height: 80vh;
  margin: 20px;
  border: solid var(--darkgold);
  color: black;
}

.resTitle {
  font-size: 40px;
  margin: 10px 0 0 0;
}
/* ----------------- Phone Classes ------------------ */

.phoneMenuDiv {
  display: none;
  position: fixed;
  bottom: 0px;
  border-top: solid var(--ash) 2px;
  background: linear-gradient(0deg, var(--black), var(--black), transparent);
  width: 100%;
  /* margin-top: auto; */
}

.phoneMenu {
  padding: 5px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.mobileIcons {
  width: 40px;
  border: none;
}

/* These will show only one position for an html item at a time depending on screen size */
.mobileItem {
  display: none;
}

.notMobileItem {
  display: flex;
}

.mobileIntro {
  display: none;
  color: var(--whiteash);
  font-size: 20px;
}

/* ----------------- Window Size Adjustments ------------------ */

@media only screen and (max-width: 1250px) {
  .portfolioPage {
    flex-direction: column;
  }
  .figure {
    justify-content: center;
    margin: 0;
  }
  .mainImg {
    flex: none;
    width: 80vw;
  }
  .descDiv {
    display: flex;
    flex-direction: row;
    margin: 20px 10% 0 10%;
  }
  .iconDiv {
    display: none;
  }
  .secondIconDiv {
    display: flex;
  }
}

@media only screen and (max-width: 1060px) {
  .iconDiv {
    display: flex;
    justify-content: normal;
    margin: 0 0 40px 9%;
  }
  .secondIconDiv {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  .profile {
    width: 235px;
  }

  /* body {
    background-size: 80%, contain;
  }
  .title {
    font-size: 20px;
  }
  .contacts {
    padding: 0 0 30px 0;
  }
  .menuBarText {
    font-size: 14px;
  } */
}

@media only screen and (max-width: 755px) {
  .mainPage {
    margin: 0 0 40px 0;
  }
  .aboutPage {
    flex-direction: column;
  }

  .mobileItem {
    display: flex;
  }

  .notMobileItem {
    display: none;
  }

  .bio {
    margin: 20px 4vw 0 4vw;
  }

  .profile {
    margin: 0 0 0 0;
  }
}

@media only screen and (max-width: 700px) {
  .techStackIcon {
    height: 45px;
    width: 55px;
  }

  .contactForm {
    width: 80vw;
  }
  .formDiv {
    flex-direction: column;
  }
  .formSection {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  header {
    display: none;
  }
  .phoneMenuDiv {
    display: flex;
    justify-content: center;
  }

  .mainImg {
    width: 100%;
    border: none;
    /* border-bottom: solid var(--ash) 2px; */
    mask-image: linear-gradient(to top, transparent 0%, white 4%);
    /* This is for older browsers */
    -webkit-mask-image: linear-gradient(to top, transparent 0%, white 4%);
  }

  body {
    background-size: 100%, contain;
  }
  /* .menuBarText {
    display: none;
  } */

  .resumePage {
    margin: 20px 4vw 0 4vw;
  }

  .contact-page {
    margin: 20px 4vw 0 4vw;
  }

  .profile {
    float: right;
    shape-outside: ellipse(50% 50%);
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 530px) {
  .introDiv {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    display: none;
  }

  .mobileIntro {
    display: flex;
  }

  .mobileItem {
    margin: 0 0 10px 0;
  }

  .name {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .role {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, transparent, var(--gold), var(--gold), transparent);
  }

  .subtitle {
    font-weight: bold;
    font-size: 36px;
  }

  .description {
    color: var(--darkgold);
  }
  .arrow {
    width: 7.5vw;
  }

  .icon {
    width: 19vw;
    margin: 0 3.75vw;
  }

  .iconFadeLeft {
    width: 15vw;
  }

  .iconFadeRight {
    width: 15vw;
  }
}
